<h1>Edit: {{subject.name}}</h1>

<form action="/edit" method="POST">
  <div class="input-field">
    <input id="name" name="name" type="text" class="validate" value="{{subject.name}}" required>
    <label for="name">Name of subject</label>
    <span class="helper-text" data-error="Write name"></span>
  </div>

  <div class="input-field">
    <input id="teacher" name="teacher" type="text" class="validate" value="{{subject.teacher}}" required>
    <label for="teacher">Teacher of course</label>
    <span class="helper-text" data-error="Write teacher"></span>
  </div>

  <div class="input-field">
    <input id="shortName" name="shortName" type="text" class="validate" value="{{subject.shortName}}" required>
    <label for="shortName">Short name of course</label>
    <span class="helper-text" data-error="Write short name"></span>
  </div>

  <input type="text" hidden name="id" value="{{subject.id}}">

  <button class="btn btn-primary" type="submit">Save</button>
</form>

<form action="/edit/remove" method="POST" class="delete-form">
  <input type="hidden" name="id" value="{{subject.id}}">
  <button class="btn red">Delete subject</button>
</form>