<h1>Subjects</h1>

{{#if subjects.length}}
  <div class="row">
  {{#each subjects}}
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.shutterstock.com/shutterstock/photos/1011745894/display_1500/stock-vector-open-book-with-education-science-hand-drawn-doodles-on-teal-background-education-vector-1011745894.jpg" alt={{name}}>
        </div>
        <div class="card-content">
          <p class="price">{{shortName}}</p>
          <span class="card-title">{{name}}</span>
        </div>
        <div class="card-action actions">
          <a href="/subjects/{{id}}">Open a subject</a>
          <a href="/edit/{{id}}">Edit a subject</a>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
{{else}}
  <p>Subjects list is empty.</p>
{{/if}}